@charset "utf-8";
/* CSS Document */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav .menu-btn i {
    color: white;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

nav {
    height: 80px;
    background: black;
    display: flex;
    justify-content: space-between;
    padding: 0px 50px 0px 100px;
    padding-top: 20px;
}

nav .logo {
    font-size: 33px;
    color: #fff;
    font-weight: 600px;
}

nav ul {
    display: flex;
    list-style: none;
    padding-top: 10px;
}

#click {
    display: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500px;
    letter-spacing: 1px;
    padding: 8px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

nav ul li {
    margin: 0 5px;

}

nav ul li a:hover,
nav ul li a.active {

    background: #fff;
    color: black;
}

@media (max-width: 940px) {
    nav .menu-btn i {
        display: block;
        margin-top: 10px;
        ;
    }

    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background: #111;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.3s ease
    }

    nav ul li {
        margin: 40px 0;
    }

    #click:checked~ul {
        left: 0;
    }

    nav ul li a {
        font-size: 20px;
        display: block
    }

    nav ul li a:hover,
    nav ul li a.active {

        background: none;
        color: cyan;
    }


}